body.final    {
    background-image:url("https://wallpaperplay.com/walls/full/d/3/7/159346.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.exercise    {
    background-image:url("https://i.redd.it/yfjt6pl4ngy21.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.sleep    {
    background-image:url("https://www.wallpaperflare.com/static/282/559/607/milky-way-galaxy-night-sky-wallpaper.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.food    {
    background-image:url("https://static.wixstatic.com/media/1da2e3e23e864c5fa4651bd24cdf5a0e.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.bmi    {
    background-image:url("https://www.ubackground.com/_ph/17/436191209.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2      {
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-align:center;
    font-family: 'Nanum Gothic';

}
h1      {
    font-size:28px;
    color: white;
    text-align:center;
    font-family: 'Nanum Gothic';
}
h3      {
    font-size:28px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'Nanum Gothic';
    margin: 40px;
}

div.contentText {
    background-color: rgba(41, 41, 39, 0.822);
    font-size:24px;
    padding: 40px;
    color: rgb(255, 255, 255);
    float: left;
    font-family: 'Nanum Gothic';
    line-height: 150%;
   
}
form.bmiForm {
    font-size: 28px;
    color: rgba(202, 239, 255, 0.993);
    text-align: center;
    font-family: 'Nanum Gothic';
    line-height: 200%;
    padding: 20px;
    border-color: rgb(23, 8, 37);
  }
input.bmiInputs {
    font-size: 24px;
    color: rgb(14, 102, 153);
    text-align: center;
    font-family: 'Nanum Gothic';
}
input.bmiButtons {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(179, 178, 180);
    color: rgb(0,0,0);
    text-align: center;
    font-family: 'Nanum Gothic';
}
input.label {
    font-size: 28px;
    color: rgb(14, 102, 153);
    text-align: center;
    font-family: 'Nanum Gothic';
    border: none;
    background-color: rgb(255, 255, 255)  ;
}
input.bmilabel {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: 'Nanum Gothic';
    border-style: none;
    background-color: rgb(255, 255, 255)  ;
}
ul.menu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li{
    display: inline-block;
    width: 20%;
}
  
li.navBar {
    float: left;
    text-align: center;
}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(16, 163, 151);
}
li a.fo:hover {
    background-color: rgb(57, 255, 50);
}
li a.sle:hover {
    background-color: rgb(78, 6, 146);
}
li a.bm:hover {
    background-color:rgb(12, 201, 226);
}
li a.ex:hover {
    background-color: rgb(219, 0, 121);
}

p {
    font-size: 36px;
    color: rgba(202, 239, 255, 0.993);
    text-align: center;
    font-family: "Nanum Gothic";
}

img.home        {
    display: inline-block;
    top: 0%;
    left: 0%;
    right: 3%;
    bottom: 1%;
    opacity: 100%;
    text-shadow: white;
    border: none;
    color: white;
}
img.chart    {
    text-align: center;
    Display: block;
    Margin: auto;
    opacity: 1.5;
}
